@charset "utf-8";
.element-selector p{
    background-color: yellow;
}
.blue{
    color:blue;
}
.class-selector-brief{
    background-color: skyblue;
}

a{
    background-color: lime;
    display: block;
}